.login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login .form, .form .label {
  display: flex;
  flex-direction: column;
}

.form .label {
  align-items: flex-start;
  font-size: 1rem;
  padding: 8px 0;
}

.label .input {
  border: none;
  border-radius: 15px;
  height: 32px;
  width: 300px;
}
