.App,
.btn,
.label .input,
.container-header {
  font-family: "Press Start 2P", cursive;
}

.form .label,
.login,
.login .form,
.navigation,
.questions,
.questions .answers,
.game {
  display: flex;
}

.login .form,
.login,
.questions {
  align-items: center;
}

.form .label,
.login .form,
.login,
.game {
  flex-direction: column;
}

.form .label {
  align-items: flex-start;
  font-size: 1rem;
  padding: 8px 0;
}

.login,
.form {
  background: #370617;
  width: 600px;
}

.label .input {
  border-radius: 1px;
  border: 5px solid black;
  font-size: 1.2rem;
  height: 48px;
  margin-top: 12px;
  padding-left: 18px;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin: 0;
  padding: 0;
  width: 80%;
}

.btn-play {
  border-radius: 1px 0 0 1px;
  border-right: none;
  border: none;
  width: 80%;
}

.btn-settings {
  border-left: 3px dotted #212121;
  border-radius: 0 1px 1px 0;
  border: none;
  width: 20%;
}

/* Game */

.game {
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

.container-header {
  align-items: center;
  background-color: #0d0d0d;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

.subcontainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  justify-items: center;
  margin-top: 15px;
  padding-left: 50px;
  justify-content: space-evenly;
}

.name{
  border-right: solid;
  padding-right: 50px;
}

.space {
  align-items: center;
  margin-top: 15px;
  padding-left: 50px;
}

.container-header .score {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  font-size: 3rem;
  justify-items: center;
  margin-top: 15px;
  padding-left: 50px;
}

.nes-icon {
  height: 16px !important;
  margin: 0 16px;
  width: 16px !important;
}

.questions {
  background: #370617;
  flex-direction: column;
  width: 90%;
}

.questions .answers {
  justify-content: space-between;
  padding: 32px 0;
  width: 90%;
}

.questions-container {
  display: flex;
  flex-direction: column;
}

.interviewer {
  align-self: flex-start;
}
