@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  font-family: 'Press Start 2P', cursive;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login .form, .form .label {
  display: flex;
  flex-direction: column;
}

.form .label {
  align-items: flex-start;
  font-size: 1rem;
  padding: 8px 0;
}

.label .input {
  font-family: 'Press Start 2P', cursive;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  height: 32px;
  padding-left: 18px;
  width: 300px;
}
